.container {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.aside_login {
  background: #00c09b;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 36.6rem;
  height: 59.2rem;
  position: relative;
  left: 10px;
  padding: 0 6.4rem 10rem 6.4rem;
}

.aside_login_titulo {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
  text-align: center;
  width: 33.6rem;
  margin-bottom: 45px;
}

.aside_login_parag {
  font-size: 2rem;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
}

.form_login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: linear-gradient(
    180deg,
    rgba(74, 73, 209, 0.71) 27.78%,
    rgba(250, 42, 132, 0.61) 76.37%
  );
  box-shadow: 0px 4px 4px rgba(50, 43, 43, 0.32);
  border-radius: 0 16px 16px 0;
  width: 70rem;
  height: 59.2rem;
  padding-top: 7.4rem;
}

.container_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_login_titulo {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 2rem;
}

.form_login_parag {
  font-size: 2rem;
  font-weight: 600;
}

.form_input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48.4rem;
  height: 210px;
}

.form_botoes {
  display: flex;
}

.erro {
  color: red;
  font-size: 1.6rem;
  margin-left: 2.6rem;
}

/* CSS Modal */

.modal_container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal_titulo {
  color: #ffff;
}

.cargo_texto {
  margin-right: 0.7rem;
  font-weight: 800;
  font-size: 1.4rem;
  color: #ffff;
}

.input {
  border-radius: 10px;
  padding: 0.5rem;
}

.fechar {
  position: absolute;

  right: 1.2rem;
  top: 0.4rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

.botao {
  border-radius: 20px;
  padding: 0.5rem;
  width: 14rem;
  font-weight: bold;
}

/* Responsivo */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    /* height: 17.6rem; */
  }

  .aside_login {
    width: 25.1rem;
    height: 17.4rem;
    padding: 0 1rem 1rem 1.5rem;
    left: 0;
    top: 17px;
    align-items: center;
  }

  .form_login {
    width: 25.1rem;
    height: 46.4rem;
    padding: 6rem 2rem 0rem 2rem;
    justify-content: initial;
    border-radius: 16px;
  }

  .aside_login_titulo {
    line-height: unset;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
  }

  .aside_login_parag {
    font-size: 1.2rem;
    font-weight: 600;
    width: 15rem;
  }
  .form_login_titulo {
    text-align: center;
    font-size: 1.4rem;
    width: 20.4rem;
    margin-left: 10px;
    display: initial;
  }

  .form_login_parag {
    font-size: 1.6rem;
    text-align: center;
  }
  .form_botoes {
    margin-top: 2.1rem;
    justify-content: center;
    width: 20.4rem;
  }

  .form_input {
    width: 20.4rem;
    height: 17.6rem;
    margin-top: 3.5rem;
    justify-content: initial;
    gap: 22px;
  }
}
