.container {
  display: flex;
  color: #ffffff;
  justify-content: center;
  height: 59.2rem;
  align-items: center;
}

.aside_login {
  background: #00c09b;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 88px 74px 152px 74px;
  width: 36.6rem;
  height: 59.2rem;
  position: relative;
  left: 10px;
}

.aside_login_titulo {
  font-size: 35px;
  margin-bottom: 45px;
}

.aside_login_parag {
  font-size: 25px;
  margin-bottom: 110px;
}

.form_login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: linear-gradient(
    180deg,
    rgba(74, 73, 209, 0.71) 27.78%,
    rgba(250, 42, 132, 0.61) 76.37%
  );
  box-shadow: 0px 4px 4px rgba(50, 43, 43, 0.32);
  border-radius: 0 16px 16px 0;
  width: 70rem;
  height: 59.2rem;
  padding-left: 8.4rem;
}

.form_login_titulo {
  font-size: 3.5rem;
  width: 48.2rem;
}

.form_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25.5rem;
}

.form_botoes {
  display: flex;
  justify-content: space-between;
  width: 48.6rem;
}
