.input {
  width: 48.4rem;
  padding: 27px 66px;
  background: rgba(1, 19, 43, 0.95);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 1.7rem;
}

.input::placeholder {
  font-size: 25px;
  color: #ffffff;
}

.icone {
  width: 14.38px;
  height: 21px;
  position: relative;
  top: 2px;
  left: 50px;
}
