.container {
  display: flex;
  align-items: center;
  position: relative;
}
.input {
  width: 48.4rem;
  padding: 27px 66px;
  background: rgba(1, 19, 43, 0.95);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 1.7rem;
}

.input::placeholder {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.icone {
  width: 20px;
  height: 16px;
  position: absolute;
  left: 40px;
}

@media (max-width: 768px) {
  .input {
    width: 20.4rem;
    height: 4.3rem;
    padding: 1.5rem 3.5rem;
    font-size: 1.4rem;
  }
  .icone {
    width: 1.31rem;
    height: 1.87rem;
    left: 13px;
    top: 12px;
  }

  .input::placeholder {
    display: none;
  }

  .input::-webkit-input-placeholder {
    color: transparent;
  }
  .input:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
  }

  .input::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
  }

  .input:-ms-input-placeholder {
    color: transparent;
  }
}
