.main {
  background-color: var(--main-background);
  color: var(--main-color);
}

.containerAbout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 95%;
  margin: 0 auto;
  padding: 4rem;
  min-height: 60rem;
}

.firstContentChild {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 30rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  min-height: 25rem;
}

.h2FirstChild {
  font-family: var(--font-home);
  font-size: 1.8rem;
  font-weight: 800;
}

.pFirstChild {
  font-family: var(--font-home);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.contentImg {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100rem;
  min-height: 35rem;
}

.firstImg {
  background: url(../../../public/img/guproFCamara.jpg) no-repeat center center;
  background-size: cover;
  width: 45rem;
  height: 25rem;
  left: 6rem;
  top: 3rem;
}

.lastImg {
  background: url(../../../public/img/playVr.jpg) no-repeat center;
  background-size: cover;
  width: 45rem;
  height: 25rem;
  right: 0rem;
  bottom: 3rem;
}


.lastContentChild {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: start;
  min-height: 20rem;
}

.h2LastChild {
  font-family: var(--font-home);
  font-weight: 800;
  font-size: 1.8rem;
}

.pLastChild {
  font-family: var(--font-home);
  font-size: 1.6rem;
  font-weight: 500;
}

.h2CCarrosel {
  font-family: var(--font-home);
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--main-colorSecundary);
  width: 70%;
  text-align: center;
  display: none;
}

.sectionSocialMidia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  min-height: 60rem;
}

.tittleSocialMidia {
  text-transform: uppercase;
  width: 80rem;
  font-weight: 800;
  font-size: 1.8rem;

}

.socialMidia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77rem;
  min-height: 50rem;
}

.ulTextMidia {
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  width: 90rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liTextMidia {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgButton1 {
  font-weight: 600;
  background: url("../../../public/img/logoOrange.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.imgButton2 {
  background: url("../../../public/img/discord.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.imgButton3 {
  background: url("../../../public/img/youtube.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.imgButton4 {
  background: url("../../../public/img/medium.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
}

@media (max-width:1440px) {
  .firstContentChild {
    justify-content: flex-start;
  }

  .contentText {
    align-items: start;
    width: 100%;
    min-height: 25rem;
  }

  .contentImg {
    display: none;
  }
}

@media (max-width:1024px) {

  .containerAbout {
    gap: 5rem;
  }

  .h2FirstChild,
  .h2LastChild {
    margin-bottom: 2rem;
  }



  .h2LastChild,
  .h2FirstChild,
  .pFirstChild,
  .pLastChild {
    width: 100%;
  }

  .h2CCarrosel {
    margin-top: 2rem;
    width: 80%;
    display: block;
  }

  .tittleSocialMidia {
    width: 80%;
  }

  .socialMidia {
    width: 80%;
  }

  .ulTextMidia {
    width: 100%;
    min-height: 40rem;
  }

  .liTextMidia {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
  }
}