.main {
  background-color: var(--main-background);
  color: var(--main-color);
  /* border: 2px solid red; */
}

.containerAbout {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem;
  justify-content: center;
  min-height: 170vh;
  /* border: 2px solid red; */
}

.firstContentChild {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 70rem;
  text-align: left;
  border: 2px solid rgb(212, 0, 255);
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  min-height: 60rem;
  border: 2px solid rgb(0, 255, 51);
}

.h2FirstChild {
  font-family: var(--font-home);
  font-size: 5rem;
  font-weight: 800;
  border: 2px solid red;
}

.pFirstChild {
  line-height: 4.6rem;
  font-family: var(--font-home);
  font-weight: 500;
  font-size: 4rem;
  max-width: 75rem;
  border: 2px solid red;
}

.contentImg {
  position: relative;
  display: flex;
  padding: 2rem;
  width: 80rem;
  min-height: 70rem;
  border: 2px solid rgb(255, 0, 0);
}

.firstImg {
  position: absolute;
  background: url(../../../public/img/guproFCamara.jpg) no-repeat center center;
  background-size: cover;
  width: 50rem;
  height: 30rem;
  left: 6rem;
  top: 3rem;
  border-radius: 20px;
  border: 2px solid rgb(255, 140, 0);
}

.lastImg {
  position: absolute;
  background: url(../../../public/img/playVr.jpg) no-repeat center;
  background-size: cover;
  width: 50rem;
  height: 30rem;
  right: 0rem;
  bottom: 3rem;
  border-radius: 20px;
  border: 2px solid rgb(242, 255, 0);
}


.lastContentChild {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10rem;
  align-items: center;
  text-align: center;
  min-height: 45rem;
  border: 2px solid red;
}

.h2LastChild {
  margin-top: 4rem;
  font-family: var(--font-home);
  font-weight: 800;
  font-size: 4.5rem;
  border: 2px solid red;
}

.pLastChild {
  font-family: var(--font-home);
  font-size: 35px;
  font-weight: 500;
  padding: 0 15rem;
  border: 2px solid red;
}

.h2CCarrosel {
  font-family: var(--font-home);
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-colorSecundary);
  width: 70%;
  text-align: center;
  border: 2px solid red;
}

@media (max-width:1024px) {
  .containerAbout {
    gap: 10rem;
    border: 2px solid red;
  }

  .h2FirstAChild {
    margin-top: 7rem;
    border: 2px solid red;
  }

  .h2LastAChild,
  .pFirstAChild,
  .pLastAChild {
    width: 100%;
    border: 2px solid red;
  }

  .h2CCarrosel {
    margin-top: 20rem;
    width: 80%;
    border: 2px solid red;
  }
}