.logo {
  width: 75px;
  height: 62px;
  margin-left: 32px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01132b;
  height: 77px;
}

.links {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

.nav_options {
  display: flex;
  justify-content: space-evenly;
  width: 373px;
  margin-right: 94px;
}

.botoes {
  padding: 5px;
  border-radius: 5px;
}
