.CCaroseul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--main-background);
    height: 100vh;
    width: 100%;
}


.Caroseul {
    min-width: 40%;
    transition: transform 0.3s cubic-bezier(0.15, 0.16, 0, 1.65);
}

.Caroseul:hover {
    transform: scale(1.02);
}
@media (max-width:1024px) {
.Caroseul {
    min-width: 90%;
}   
}


