.CCaroseul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background);
    height: 100vh;

}


.Caroseul{

width: 1000px;
transition: transform 0.3s cubic-bezier(0.15, 0.16, 0, 1.65);
}
.Caroseul:hover{
    transform: scale(1.02);
}

.legend{

}
