.info_admin_container {
  display: flex;
  justify-content: space-between;
  width: 97.3rem;
}
.info_admin {
  width: 69.4rem;
  height: 19.7rem;
  background-color: #00c09b;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 2rem 1.4rem 1.4rem 1.5rem;
}
.info_admin_icones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10.8rem;
  padding-top: 2.6rem;
}
.info_admin_icones span {
  width: 20rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
}

.info_admin_icones span:nth-child(3) {
  width: 23.3rem;
}
.info_admin_icones span:nth-child(5) {
  width: 23.3rem;
}

.info_admin_icones span > img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.container_trilha {
  display: flex;
  flex-direction: column;
  min-height: 23.9rem;
  height: 29rem;
  max-width: 97.3rem;
  align-items: center;
  justify-content: space-between;
}

.container_adm_trilha {
  display: flex;
  flex-direction: column;
  min-height: 26rem;
  height: 29rem;
  max-width: 97.3rem;
  align-items: center;
  justify-content: space-around;
}

.conteudo {
  display: flex;
  flex-direction: row;
  width: 97.3rem;
  justify-content: space-between;
}

.conteudo_admin {
  display: flex;
  flex-direction: row;
  width: 97.3rem;
  justify-content: flex-end;
}

.infoTitulo_tituloEparag {
  height: 10.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTitulo_titulo {
  text-transform: uppercase;
}
.infoTitulo_parag {
  height: 19.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tempo_trilha {
  width: 25.4rem;
  height: 9.34rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: #00c09b;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--login-background);
}

.guias_trilha {
  width: 25.4rem;
  height: 9.34rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: #00c09b;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2rem;
}

.instrucoes_trilha {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 68.9rem;
  min-height: 12.2rem;
  max-height: 19.7rem;
  background-color: #00c09b;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1rem 1.4rem 1.4rem 1rem;
}

.icone_container {
  position: relative;
  top: 2px;
}

.icone {
  width: 1.88rem;
  height: 1.7rem;
}
.botao_adm_trilha {
  border: 0.5px solid #d2d6dc;
  width: 10rem;
  height: 3rem;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .info_admin_container {
    width: 36rem;
    height: 13.6rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .info_admin {
    width: 32.8rem;
    height: auto;
    background-color: #00c09b;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;

    padding: 1.3rem 1.4rem 1.4rem 1.5rem;
  }
  .info_admin_icones {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    height: 10.8rem;
    padding-top: 0.7rem;
  }
  .info_admin_icones span {
    width: 20rem;
    margin-right: 1rem;
    font-size: 1rem;
  }

  .info_admin_icones span:nth-child(3) {
    width: 23.3rem;
  }
  .info_admin_icones span:nth-child(5) {
    width: 23.3rem;
  }

  .info_admin_icones span > img {
    width: 11px;
    height: 11px;
    margin-right: 0.5rem;
  }
  /* daki pra cima  */

  .container_trilha {
    flex-direction: column;
    justify-content: space-between;
    height: 26.8rem;
  }

  .container_adm_trilha {
    flex-direction: column;
    justify-content: space-between;
    height: 23.9rem;
  }

  .conteudo {
    flex-direction: column;
    width: 32.6rem;
    height: 20rem;
    justify-content: space-between;
  }

  .conteudo_admin {
    flex-direction: column;
    width: 32.6rem;
    height: 22.5rem;
    justify-content: space-between;
  }

  .infoTitulo_tituloEparag {
    height: 10.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .infoTitulo_parag {
    height: 6.9rem;
  }

  .tempo_trilha {
    width: 18.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: #00c09b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--login-background);
  }

  .guias_trilha {
    width: 18.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: #00c09b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
  }

  .instrucoes_trilha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 32.8rem;
    min-height: 12.2rem;
    background-color: #00c09b;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 1.4rem 1.4rem 1rem;
  }

  .icone_container {
    position: relative;
    top: 2px;
  }

  .icone {
    width: 1.3rem;
    height: 1rem;
  }
  .botao_adm_trilha {
    width: 9.8rem;
    height: 2.4rem;
  }
}
